.social-contacts{
  .social-links{
    margin: 0 -10px; 
    .contactIcons{
      color: inherit;
      font-size: 28px;
      padding-left: 10px; 
      padding-right: 10px; 
      border-left-width: 10px;
      &:hover{
        color: inherit;
      }
    } 
  }
}